*.iml
.gradle
/local.properties
local.properties
.idea/
.DS_Store
/build
build/
**/build/
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.db

# Node.js Server
server/node_modules/
server/sessions.json
server/npm-debug.log*
